.Logo{
    background-color: white;
    padding: 8px;
    height: 80%;
    /* //height:80% for bigger screen that would make our logo harder to reuse   */
    box-sizing: border-box; 
    border-radius: 5px;
}

.Logo img{
    height: 100%;
}